.header {
  background: linear-gradient(90deg, #001b2f 0%, #005695 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20vh;
}

.boxLogo {
  display: flex;
  align-items: center;
  gap: 5%;
  width: 20%;
  margin-left: 2%;

  img {
    width: 4vw;
  }

  h1 {
    color: #ffff;
    font-size: 1.8rem;
  }
}

.navHeader {
  width: 30%;

  ul {
    display: flex;
    justify-content: space-between;

    .link {
      color: #ffff;
      font-size: 1.25rem;
    }
  }
}

.barraDeBusca {
  border: solid #ffff;
  border-radius: 20px;
  margin-right: 2%;
  width: 20%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;

  input {
    border: none;
    background-color: transparent;
    width: 60%;
    height: 4vh;

    &::placeholder {
      color: #ffff;
      font-size: 1.25rem;
    }
  }
}

.button {
  border: solid;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 1440px) {
  .boxLogo {
    width: 25%;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .boxLogo {
      justify-content: center;
      width: 50%;
    }

    .navHeader {
      width: 50%;
    }

    .barraDeBusca {
      display: none;
    }
  }
}
