.footer {
  background-color: #005695;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 16vh;

  p {
    color: #fff;
    margin-left: 5%;
  }

  .boxImg {
    display: flex;
    justify-content: center;
    gap: 4%;
    width: 30%;
    height: 4vh;
    img {
      width: 2.4rem;
      height: 2.2rem;
      cursor: pointer;
    }
  }
}

.creditosBox {
  color: white;
  background-color: #232020;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8vh;
}
